.wrapper {
  padding: 1.5rem;
  gap: 1rem;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #e7e7e8;
}
@media screen and (width < 1024px) {
  .wrapper {
    grid-auto-flow: unset;
    grid-template-columns: 50% 50%;
  }
}
.card {
  background-color: #fff;
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}
