.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 10px;
  background-size: cover;
  max-height: 20rem;
}
.wrapper span {
  font-size: 12px;
  color: #6f6b6b;
}

.regular {
  background-color: transparent;
}
.like {
  position: relative;
  cursor: pointer;
}
.like i {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 5px;
  right: 0;
  border-radius: 10px;
  color: #ff0000;
  cursor: pointer;
}
.rating {
  color: #ff0000;
  font-size: 2rem;
}
strong {
  word-wrap: break-word;
}
.like img {
  max-height: 20rem;
}
